.App {
  display: flex;
  --squareSize: 500px;
  --spaceSize: calc(var(--squareSize) * 0.03);
  --tileSize: calc(var(--squareSize) * 0.2125);
  --translateunit: calc(var(--spaceSize) + var(--tileSize));
}
